{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Colleges</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">SVECW</h5>
                <p class="card-text">Engineering & Technology</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">BVRIT</h5>
                <p class="card-text">Engineering & Technology</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
